<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hall.androidcalendar">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.CalendarActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ui.ViewEventsOnClickActivity" />
        <activity android:name=".ui.month.MonthViewActivity" />
        <activity
            android:name=".ui.account.createAccountActivity"
            android:label="@string/create_account"
            android:parentActivityName=".ui.account.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.account.MainActivity" />
        </activity>
        <activity android:name=".ui.EventRepeat"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SelectAlert"/>
        <activity android:name=".ui.account.MainActivity"/>
        <activity android:name=".ui.SelectDate"/>
        <activity android:name=".ui.MenuActivity" />

        <activity android:name=".ui.events.EventActivity" />

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />
    </application>

</manifest>